<footer class="position-relative bottom-0 text-white">
<div class="end1 bg-navyblue py-5">
    <div class="container">
        <div class="row">
            <div class="py-4 item col-sm-12 col-md-6 col-lg-4 xl-3 col-xxl-2 text-center">
                <div class="inner py-3">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>

            <div class="item py-4 col-sm-12 col-md-6 col-lg-4 xl-3 col-xxl-2 text-center">
                <div class="inner py-3">
                    <h3>AROUND THE WEB</h3>
                    <div class="Icons d-flex justify-content-center align-items-center">
                        <div class="=Icon d-flex justify-content-center align-items-center mx-1 Circle"><i class="fa-brands fa-facebook mx-1 icon"></i></div>
                        <div class="=Icon d-flex justify-content-center align-items-center mx-1 Circle"><i class="fa-brands fa-twitter mx-1 icon"></i></div>
                        <div class="=Icon d-flex justify-content-center align-items-center mx-1 Circle"><i class="fa-brands fa-linkedin-in mx-1 icon"></i></div>
                        <div class="=Icon d-flex justify-content-center align-items-center mx-1 Circle"><i class="fa-solid fa-globe mx-1 icon"></i></div>
                       
                    </div>
                  
                </div>
            </div>

            <div class="item py-4 col-sm-12 col-md-6 col-lg-4 xl-3 col-xxl-2 text-center">
                <div class="inner py-3">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="end2 bg-navy py-3">
        <p class="text-center text-light">Copyright © Your Website 2021</p>

    </div>
</footer>