<section class="bg-specific" style="height: 90vh;">


    <header class="text-center mt-5"  style="padding-top: 75px;">
        <h1 class="mt-5 pt-5 pb-1 mb-1 text-white text-uppercase fs-1 fw-bolder text-center">About Component</h1>
        <div class="Star text-white"><i class="fa-solid fa-star"></i></div>
    </header>
    <div class="container mt-3">
        <div class="content  text-white row px-5">
            <div class="Content1 col-md-6 ps-md-5">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="Content2 col-md-6 ps-md-5">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
 
 
</section>