<section class="Contat mt-5 pt-5 vh-75">
  <header class="text-center">
    <h1 class="mt-2 text-navyblue text-uppercase fs-1 fw-bolder text-center">Contact Section</h1>
    <div class="Star text-navyblue"><i class="fa-solid fa-star"></i></div>
</header>
  <div class="Form w-50 m-auto mt-3 pt-3">
    <div class="form-floating mb-3 w-100 m-auto my-5">
      <input type="text" class="form-control border border-0 border-bottom" id="userName" placeholder="userName">
      <label for="userName">userName</label>
    </div>

  <div class="form-floating mb-3 w-100 m-auto my-5">
      <input type="number" class="form-control border border-0 border-bottom" id="userAge" placeholder="userAge">
      <label for="userAge">userAge</label>
    </div>

  <div class="form-floating mb-3 w-100 m-auto my-5">
      <input type="email" class="form-control border border-0 border-bottom" id="userEmail" placeholder="userEmail">
      <label for="userEmail">userEmail</label>
    </div>

  <div class="form-floating mb-3 w-100 m-auto my-5">
      <input type="password" class="form-control border border-0 border-bottom" id="userPassword" placeholder="userPassword">
      <label for="userPassword">userPassword</label>
    </div>

    <button class="text-white btn bg-specific mt-3 mb-5 px-2 pt-2 pb-1 mb-1">Send Messsage</button>

  </div>
</section>