<section class="vh-100">
    <section class="vh-100 bg-specific">


        <div class="container mt-5"   style="padding-top: 75px;width:370px;">
            <div class="Image  text-white row px-5">
                <img src="Images/avataaars.svg" alt="" class="w-100">
            </div>
        </div>


        <header class="text-center mt-1">
            <h1 class="mt-5 pb-1 mb-1 text-white text-uppercase fs-1 fw-bolder text-center">Start FrameWork</h1>
            <div class="Star text-white"><i class="fa-solid fa-star"></i></div>
            <p class="text-white mt-2">Graphic Artist - Web Designer - Illustrator</p>
        </header>

     
     
    </section>
</section>